scrolledwindow undershoot.top, scrolledwindow undershoot.right, scrolledwindow undershoot.bottom, scrolledwindow undershoot.left { background-image: none; }

/*
# ############################################
PANNELLO 1
# ############################################
*/
/* Selettore spazi di lavoro */
#pager-2 #xfce-panel-toggle-button {
  padding-left: 7px;
  padding-right: 7px;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 9pt;
}

#pager-2 #xfce-panel-toggle-button:checked {
  padding-left: 7px;
  padding-right: 7px;
  color: #2E3440;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 9pt;
  font-weight: bold;
}

#pager-2 #xfce-panel-toggle-button:hover {
  padding-left: 7px;
  padding-right: 7px;
  color: #D8DEE9;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 9pt;
  font-weight: bold;
}

/*xfce4-systemload-plugin*/
#systemload-42 box label {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 9pt;
  font-weight: bold;
}
/*
# ############################################
PANNELLO 2
# ############################################
*/
/* [1] Gestore delle impostazioni */
#launcher-15 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-15 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [2] Terminale di Xfce */
#launcher-16 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-16 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [3] Il gestore dei file Thunar */
#launcher-17 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-17 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [4] Gestore dei processi */
#launcher-18 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-18 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [5] Gestore applicazioni */
#launcher-19 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-19 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [6] Timeshift */
#launcher-20 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-20 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [7] Firefox */
#launcher-21 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-21 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [8] Thunderbird */
#launcher-22 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-22 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [9] Gpick */
#launcher-23 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-23 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [10] Pix */
#launcher-24 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-24 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [11] Gimp */
#launcher-25 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-25 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [12] Inkscape */
#launcher-26 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-26 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [13] LibreOffice */
#launcher-27 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-27 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [14] Editor di testo (xed) */
#launcher-28 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-28 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [15] VLC */
#launcher-29 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-29 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [16] Goodvibes */
#launcher-30 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-30 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [17] Calcolatrice */
#launcher-31 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-31 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [18] Calendario */
#launcher-32 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-32 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [19] Catfish ricerca dei file */
#launcher-36 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-36 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [20] Svuota cestino */
#launcher-37 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-37 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [21] Terminale di Xfce (a discesa) */
#launcher-39 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-39 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [22] Mostra/Nascondi Calendario */
#launcher-40 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-40 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

/* [23] Sessione */
#launcher-38 #launcher-arrow {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#launcher-38 #launcher-arrow:hover {
  border-bottom: 2px solid #81A1C1;
  border-top: 2px solid transparent;
}

#separator-35 {
  color: #81A1C1;
}

